@keyframes popup {
    from {
        transform: scale(0.1);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.hack-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(55, 65, 81, 0.5); 
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    animation: popup 0.5s ease-out forwards;
    opacity: 0;
}
